.header {
  width: 100%;
  background-color: black;
  color: white;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.nav button {
  margin: 1rem;
  background-color: transparent;
}

.nav button a {
  color: white;
  text-decoration: none;
}
